@use 'src/shared/styles/colors.scss';

.radio-group {
  .ant-radio-button-wrapper {
    height: 40px;
    padding: 4px 16px;
    box-shadow: none !important;

    &:hover {
      color: colors.$teal_light;
    }
  }

  .ant-radio-button-wrapper-checked {
    background-color: colors.$teal_light;
    color: colors.$beige_extra_light;
    border-color: colors.$teal_light;

    &:hover {
      color: colors.$beige_light;
      border-color: colors.$teal_light;
    }
  }
}